<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">PIL</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link {%if is_dash %}active{% endif %}" href="{{ url_for('dashboard') }}">Dashboard</a>
                </li> -->
            </ul>
            <div class="d-flex">
                {% if current_user.admin %}
                    {% if admin_dash %}
                    <a class="btn btn-outline-success" href="{{ url_for('dashboard') }}">Dashboard</a>&ensp;
                    {%else%}
                    <a class="btn btn-outline-warning" href="{{ url_for('admin') }}">Admin</a>&ensp;
                    {%endif%}
                {% endif %}
                <a class="btn btn-outline-danger" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </div>
  </nav>